*{
    margin:5px;
    padding:3px;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-color:black;
    color: white;
    overflow-x: hidden;
}
body h1{
    color: orange;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1.5rem 10%;
   position: relative; 
}

.logo en{
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: red;
}

.nav-link{
    display: flex;
    gap:2.5rem;
}

.nav-links a{
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: red;
    position: relative;
}

.contact-info{
    background-color: red;
    color:white;
    padding:0.7rem 1.5rem;
    border:none;
    cursor:pointer;
    transform: transition 0.3s ;
    border-radius: 25px;
}

.contact-info :hover{
    transform:scale(1.05);
}

section.hero{
    width: 100%;
    height: 90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.section.hero-content{
    width: 100%;
}

.hero-content h1{
    font-size: 50px;
    margin:5rem 8%;
    padding-left: 10px;
    padding-right: 8px;
}

.hero-content h1 span{
    color: greenyellow;
    font-size: 70px;
    font-weight: 800;
}
.hero-content p{
    font-size: 2rem;
    padding-left:50px;
    padding-right:50px;
    padding-top: 5px;
}

.hero-content.image{
    width: 100%;
}
.hero-content.image.box{
    padding:5rem 10%;
    width:500px;
    height:900px;
}

.section1.cont{
    width: 100%;
    height: 90%;
}

.content{
    width: 100;
}

.content h1{
    margin:2rem 8%;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 8px;
}

.content p{
    font-size: 1.5rem;
    padding-left:50px;
    padding-right:50px;
    padding-top: 5px;
}


.section2.ski{
    width: 100%;
    height: 90%;
}

.skills{
    width: 100;
}

.skills h1{
    margin:2rem 8%;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 8px;
}

.skills ul{
    font-size: 1.5rem;
    padding-left:50px;
    padding-right:50px;
    padding-top: 5px;
}

.section3.pro{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section3.project{
    width: 100%;
}

.project h1{
    font-size: 50px;
    margin:3rem 8%;
    padding-left: 10px;
    padding-right: 8px;
}

.project h2{
    font-size: 30px;
    margin:3rem 8%;
    padding-left: 10px;
    padding-right: 8px;
    text-decoration: underline;
}

.project p{
    font-size:1.2rem;
    padding-left:50px;
    padding-right:50px;
    padding-top: 5px;
    flex:1;
}

.project.image1{
    width: 100%;

}

.project.image1.box1{
    padding:5rem 20%;
    width:500px;
    height:900px;
}

.section4.hero3{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section4.hero-content3{
    width: 100%;
}

.hero-content3 h2{
    font-size: 30px;
    margin:3rem 4%;
    padding-left: 10px;
    padding-right: 8px;
    text-decoration: underline;
}

.hero-content3 p{
    font-size: 1.2rem;
    padding-left:50px;
    padding-right:50px;
    padding-top: 5px;
}

.hero-content3.image3{
    width: 100%;;
}
.image3.box3{
    padding:2rem 20%;
    width:500px;
    height:900px;
}
.section5{
     width: 100%;
    height: 90%;
}

.section5.resume{
     width: 100%;
}
.resume h1{
    font-size:40px;
    margin:1rem 4%;
    padding-left:10px;
    padding-right: 5px;
}
.resume button{
    background-color:red;
    color:white;
    padding: 1rem 1rem;
    margin:0.5rem 4%;
    border:none;
    cursor:pointer;
    transform: transition 0.3s ;
    border-radius: 25px;
}

.resume button a{
    color: white;
    transition: color 0.3s;
}

.resume button a:hover{
    color:white;
    position: relative;
}

.contact1{
    width:100;
}

.contact1 h1{
    font-size:40px;
    margin:1rem 4%;
    padding-left:10px;
    padding-right: 5px;
}

.contant1 h3{
    margin:1rem 4%;
    font-size: 1.2rem;
    padding-left:50px;
    padding-right:50px;
    padding-top: 5px;
}
.contact1 span{
    margin:1rem 4%;
    color: red;
    font-size: 20px;
}

.copy{
    width:100%;
    margin:1rem 4%;
    height: 90%;
    text-align: center;
}
.copy.h1{
     font-size:40px;
     padding:2rem 2rem;
}
.copy.p{
    font-size: 1.2rem;
    padding:2rem 2rem; 
}



